<fieldset>
  <legend><%= t(".description") %></legend>
  <div class="control-group <%= "error" if form.object.errors.include?(:title) %>">
    <%= form.label :title,
                   "<strong>#{t("activerecord.attributes.vacancy.title")}</strong>".html_safe,
                   class: 'control-label' %>
    <div class="controls">
      <%= form.text_field :title,
                          class: 'span6',
                          autofocus: true,
                          placeholder: t(".placeholders.title") %>
      <% for error in form.object.errors.get(:title) %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
    </div>
  </div>
  <div class="control-group <%= "error" if form.object.errors.include?(:description) %>">
    <%= form.label :description,
                   "<strong>#{t("activerecord.attributes.vacancy.description")}</strong>".html_safe,
                   class: 'control-label' %>
    <div class="controls">
      <%= form.text_area :description,
                      rows: 20,
                      class: 'span6',
                      placeholder: t(".placeholders.description") %>
      <% for error in form.object.errors.get(:description) %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
    </div>
  </div>
  <div class="control-group <%= "error" if form.object.errors.include?(:location) %>">
    <%= form.label :location,
                   "<strong>#{t("activerecord.attributes.vacancy.location")}</strong>".html_safe,
                   class: 'control-label' %>
    <div class="controls">
      <%= form.text_field :location,
                          class: 'span6',
                          placeholder: t(".placeholders.location") %>
      <% for error in form.object.errors.get(:location) %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
    </div>
  </div>
  <div class="control-group <%= "error" if form.object.errors.include?(:expire_at) %>">
    <%= form.label :expire_at,
                   "<strong>#{t("activerecord.attributes.vacancy.expire_at")}</strong>".html_safe,
                   class: 'control-label' %>
    <div class="controls">
      <label class="radio">
        <%= form.radio_button :expire_at, (form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.week, id: 'vacancy_expires_in_one_week' %>
        <span><%= t(".notes.expire_at_one_week") %><span class="help-inline">&mdash; <%= t(".notes.valid_until", :date => l((form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.week)) %></span></span>
      </label>
      <label class="radio">
        <%= form.radio_button :expire_at, (form.object.persisted? ? form.object.created_at.to_date : Date.current) + 2.weeks, id: 'vacancy_expires_in_two_weeks' %>
        <span><%= t(".notes.expire_at_two_weeks") %><span class="help-inline">&mdash; <%= t(".notes.valid_until", :date => l((form.object.persisted? ? form.object.created_at.to_date : Date.current) + 2.weeks)) %></span></span>
      </label>
      <label class="radio">
        <%= form.radio_button :expire_at, (form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.month, id: 'vacancy_expires_in_one_month' %>
        <span><%= t(".notes.expire_at_one_month") %><span class="help-inline">&mdash; <%= t(".notes.valid_until", :date => l((form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.month)) %></span></span>
      </label>
      <% for error in form.object.errors.get(:expire_at) %>
        <%= content_tag(:span, error, :class => "help-block") %>
      <% end %>
     </div>
  </div>
</fieldset>
<fieldset>
  <legend><%= t(".legends.contacts") %></legend>
  <div class="control-group <%= "error" if form.object.errors.include?(:email) %>">
    <%= form.label :email,
                   "<strong>#{t("activerecord.attributes.vacancy.email")}</strong>".html_safe,
                   class: 'control-label' %>
    <div class="controls">
      <%= form.email_field :email, class: 'span4' %>
      <% for error in form.object.errors.get(:email) %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
     </div>
  </div>
  <div class="control-group">
    <%= form.label :company, class: 'control-label' %>
    <div class="controls"><%= form.text_field :company, class: 'span4' %></div>
  </div>
  <div class="control-group">
    <%= form.label :url, class: 'control-label' %>
    <div class="controls"><%= form.url_field :url, class: 'span4' %></div>
  </div>
  <div class="control-group">
    <%= form.label :phone, class: 'control-label' %>
    <div class="controls"><%= form.telephone_field :phone, class: 'span4' %></div>
  </div>
  <div class="control-group">
    <%= form.label :name, class: 'control-label' %>
    <div class="controls"><%= form.text_field :name, class: 'span4' %></div>
  </div>
</fieldset>
<div class="form-actions">
  <% if form.object.persisted? %>
    <%= form.submit t(".update"), class: "btn btn-success" %>
    <%= link_to t(".cancel"), vacancy_url(form.object), class: "btn" %>
  <% else %>
    <p><%= t(".notes.terms.text", link: link_to(t(".notes.terms.link"), page_url(:terms))).html_safe %></p>
    <%= form.submit t(".create"), class: "btn btn-success" %>
    <%= link_to t(".cancel"), root_url, class: "btn" %>
  <% end %>
</div>
