<fieldset>
  <legend><%= t(".description") %></legend>
  <div class="form-group <%= "has-error" if form.object.errors.include?(:title) %>">
    <%= form.label :title,
                   "#{t("activerecord.attributes.vacancy.title")} *".html_safe,
                   class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.text_field :title,
                          class: 'form-control',
                          autofocus: true,
                          placeholder: t(".placeholders.title") %>
      <% for error in form.object.errors[:title] %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
    </div>
  </div>
  <div class="form-group <%= "has-error" if form.object.errors.include?(:description) %>">
    <%= form.label :description,
                   "#{t("activerecord.attributes.vacancy.description")} *".html_safe,
                   class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.text_area :description,
                      rows: 20,
                      class: 'form-control',
                      placeholder: t(".placeholders.description") %>
      <% for error in form.object.errors[:description] %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
    </div>
  </div>
  <div class="form-group <%= "has-error" if form.object.errors.include?(:location) %>">
    <%= form.label :location,
                   "#{t("activerecord.attributes.vacancy.location")} *".html_safe,
                   class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.text_field :location,
                          class: 'form-control',
                          placeholder: t(".placeholders.location") %>
      <% for error in form.object.errors[:location] %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
    </div>
  </div>
  <div class="form-group <%= "has-error" if form.object.errors.include?(:expire_at) %>">
    <%= form.label :expire_at,
                   "#{t("activerecord.attributes.vacancy.expire_at")} *".html_safe,
                   class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <div class="radio">
        <label>
          <%= form.radio_button :expire_at, (form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.week, id: 'vacancy_expires_in_one_week' %>
          <span><%= t(".notes.expire_at_one_week") %><span class="help-inline">&mdash; <%= t(".notes.valid_until", :date => l((form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.week)) %></span></span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= form.radio_button :expire_at, (form.object.persisted? ? form.object.created_at.to_date : Date.current) + 2.weeks, id: 'vacancy_expires_in_two_weeks' %>
          <span><%= t(".notes.expire_at_two_weeks") %><span class="help-inline">&mdash; <%= t(".notes.valid_until", :date => l((form.object.persisted? ? form.object.created_at.to_date : Date.current) + 2.weeks)) %></span></span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= form.radio_button :expire_at, (form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.month, id: 'vacancy_expires_in_one_month' %>
          <span><%= t(".notes.expire_at_one_month") %><span class="help-inline">&mdash; <%= t(".notes.valid_until", :date => l((form.object.persisted? ? form.object.created_at.to_date : Date.current) + 1.month)) %></span></span>
        </label>
      </div>
      <% for error in form.object.errors[:expire_at] %>
        <%= content_tag(:span, error, :class => "help-block") %>
      <% end %>
     </div>
  </div>
</fieldset>
<fieldset>
  <legend><%= t(".legends.contacts") %></legend>
  <div class="form-group <%= "has-error" if form.object.errors.include?(:email) %>">
    <%= form.label :email,
                   "#{t("activerecord.attributes.vacancy.email")} *".html_safe,
                   class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.email_field :email, class: 'form-control' %>
      <% for error in form.object.errors[:email] %>
        <%= content_tag(:span, error, class: "help-block") %>
      <% end %>
     </div>
  </div>
  <div class="form-group">
    <%= form.label :company, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.text_field :company, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :url, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.url_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :phone, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.telephone_field :phone, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
</fieldset>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <% if form.object.persisted? %>
    <%= form.submit t('.update'), class: 'btn btn-success' %>
    <%= link_to t('.cancel'), vacancy_url(form.object), class: 'btn' %>
  <% else %>
  <div class="panel panel-warning">
    <div class="panel-body bg-warning">
      <p><%= t('.notes.terms.text', link: link_to(t('.notes.terms.link'), page_url(:terms))).html_safe %></p>
    </div>
  </div>
    <%= form.submit t('.create'), class: 'btn btn-success', data: { disable_with: t('.processing') } %>
    <%= link_to t('.cancel'), root_url, class: 'btn' %>
  <% end %>
  </div>
</div>
