<% content_for :sidebar do %>
  <div class="page-header">
    <h2><%= t('.sidebar.title') -%></h2>
    <p class="lead"><%= t('.sidebar.description') -%></p>

    <div class="my-5">
      <%= link_to t('.add'), new_vacancy_url, class: 'btn btn-primary btn-lg btn-block' -%>
    </div>
  </div>
<% end %>

<div class="list-group list-group-flush mb-5">
  <% vacancies.each do |vacancy| %>
  <div class="list-group-item list-group-item-action flex-column align-items-start" itemscope itemtype="http://schema.org/JobPosting">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h2 class="text-truncate"><%= link_to vacancy.title, vacancy, itemprop: 'url' %></h2>
    </div>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <div class="row">
      <div class="col-md-7">
        <small><%== company_location_tag(vacancy) %></small>
      </div>
      <div class="col-md-5 text-right">
        <small><%== salary_with_units(vacancy) %></small>
      </div>
    </div>

  </div>
  <% end %>
</div>

<%= paginate vacancies %>
