<% content_for :meta_title, vacancy.seo_title %>
<% content_for :meta_description, vacancy.seo_description %>
<% content_for :sidebar do %>
  <% if vacancy.expired? %>
    <p class="bg-warning" style="padding: 15px">
      <%= t('.expiration_notice', expire_at: l(vacancy.expire_at)) %>
    </p>
  <% else %>
    <p class="text-muted">
      <%== t('.expired_at', expired_at: l(vacancy.expire_at)) %>
    </p>
  <% end %>
  <hr>
<% end %>
<% content_for :js do %>
  <script>
    (function () {
      var analytics = new Analytics({
        endpointURL: '<%= vacancy_events_url(vacancy) -%>'
      });

      analytics.addClickListeners();
    })()
  </script>
<% end %>

<article itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="url" content="<%= vacancy_url(vacancy) %>" />
  <% if vacancy.approved? %>
    <meta itemprop="datePosted" content="<%= vacancy.approved_at.iso8601 %>" />
  <% end %>
  <div class="page-header">
    <h1 itemprop="title"><%= vacancy.title %></h1>
    <div class="row">
      <div class="col-md-4">
        <dl>
          <dt><%= t('.company') %></dt>
          <dd><%= vacancy.company %></dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt><%= t('.employment_type') %></dt>
          <dd>
            <%= t("vacancies.employment_types.#{vacancy.employment_type}") %>
            <% if vacancy.remote_position %>
              + <%= t('.remote_position') %>
            <% end %>
          </dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt><%= t('.salary') %></dt>
          <dd><%== salary_with_units(vacancy) %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div itemprop="description">
    <%== vacancy.description_html %>
  </div>
  <div class="row" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
    <div class="col-md-4">
      <address>
        <strong><%= t('.company') %></strong>
        <div itemprop="name"><%= vacancy.company %></div>
        <% if vacancy.location.present? %>
          <div itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
            <span itemprop="description"><%= vacancy.location %></span>
          </div>
        <% end %>
        <% if vacancy.url.present? %>
          <div itemprop="url"><%= link_to vacancy.url, vacancy.url, data: { toggle: 'analytics', event: 'vacancy:company_url:click' } %></div>
        <% end %>
        <% if vacancy.phone.present? %>
          <div><%= t('.phone') %>: <span itemprop="telephone"><%= vacancy.phone %></span></div>
        <% end %>
      </address>
    </div>
    <div class="col-md-4" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="email" content="<%= vacancy.email %>" />
      <address>
        <strong><%= t('.contacts') %></strong>
        <div itemprop="name"><%= vacancy.name ? vacancy.name : '&mdash;' %></div>
      </address>
    </div>
    <div class="col-md-4">
      <% unless vacancy.expired? %>
        <%= mail_to vacancy.email, t('.apply').html_safe, subject: t('.email_application.subject', title: vacancy.title),
                                                          body: t('.email_application.body', title: vacancy.title,
                                                                              url: vacancy_url(vacancy)),
                                                          class: "btn btn-success btn-lg",
                                                          data: {
                                                            toggle: 'analytics',
                                                            event: 'vacancy:company_email:click'
                                                          } %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  </div>
  <% if admin?(vacancy) %>
    <div class="form-actions">
      <%= button_to(t('.publish'), approve_vacancy_url(vacancy), method: :put, class: 'btn btn-success') unless vacancy.approved? %>
      <%= link_to t('.edit'), edit_vacancy_url(vacancy), class: 'btn btn-default' %>
      <%= button_to t('.destroy.button'), vacancy_url(vacancy), method: :delete, confirm: t('.destroy.confirmation'), class: 'btn btn-danger' %>
    </div>
  <% elsif owner?(vacancy) %>
    <div class="form-actions">
      <%= link_to t('.edit'), edit_vacancy_url(vacancy), class: "btn" %>
    </div>
  <% end %>
</article>
