<% content_for :meta_title, vacancy.seo_title %>
<% content_for :meta_description, vacancy.seo_description %>
<% content_for :js do %>
  <script>
    (function () {
      var analytics = new Analytics({
        endpointURL: '<%= vacancy_events_url(vacancy) -%>'
      });

      analytics.addClickListeners();
    })()
  </script>
<% end %>

<article itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="url" content="<%= vacancy_url(vacancy) %>" />
  <% if vacancy.approved? %>
    <meta itemprop="datePosted" content="<%= vacancy.approved_at.iso8601 %>" />
  <% end %>
  <div class="page-header">
    <h1 itemprop="title"><%= vacancy.title %></h1>
    <h4 class="text-muted">
      <div itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
        <span itemprop="description"><%= company_location_tag(vacancy) %></span>
      </div>
      <small><%== t('.expired_at', expired_at: l(vacancy.expire_at)) %></small>
    </h4>
  </div>
  <div itemprop="description">
    <%= vacancy.description_html.html_safe %>
  </div>
  <div class="row" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
    <div class="col-md-4">
      <address>
        <strong><%= t('.company') %></strong>
        <div itemprop="name"><%= vacancy.company %></div>
        <% unless vacancy.url.blank? %>
          <div itemprop="url"><%= link_to vacancy.url, vacancy.url, data: { toggle: 'analytics', event: 'vacancy:company_url:click' } %></div>
        <% end %>
        <% unless vacancy.phone.blank? %>
          <div><%= t('.phone') %>: <span itemprop="telephone"><%= vacancy.phone %></span></div>
        <% end %>
      </address>
    </div>
    <div class="col-md-4" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="email" content="<%= vacancy.email %>" />
      <address>
        <strong><%= t('.contacts') %></strong>
        <div itemprop="name"><%= vacancy.name ? vacancy.name : '&mdash;' %></div>
      </address>
    </div>
    <div class="col-md-4">
      <% unless vacancy.expired? %>
        <%= mail_to vacancy.email, t('.apply').html_safe, subject: t('.email_application.subject', title: vacancy.title),
                                                          body: t('.email_application.body', title: vacancy.title,
                                                                                             url: vacancy_url(vacancy)),
                                                          class: "btn btn-success btn-lg",
                                                          data: {
                                                            toggle: 'analytics',
                                                            event: 'vacancy:company_email:click'
                                                          } %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  </div>
  <% if admin?(vacancy) %>
    <div class="form-actions">
      <%= button_to(t('.publish'), approve_vacancy_url(vacancy), method: :put, class: 'btn btn-success') unless vacancy.approved? %>
      <%= link_to t('.edit'), edit_vacancy_url(vacancy), class: 'btn btn-default' %>
      <%= button_to t('.destroy.button'), vacancy_url(vacancy), method: :delete, confirm: t('.destroy.confirmation'), class: 'btn btn-danger' %>
    </div>
  <% elsif owner?(vacancy) %>
    <div class="form-actions">
      <%= link_to t('.edit'), edit_vacancy_url(vacancy), class: "btn" %>
    </div>
  <% end %>
  <%= content_tag(:div,
                  t('.expiration_notice', expire_at: l(vacancy.expire_at)),
                  class: 'alert alert-block') if vacancy.expired? %>
</article>
