<% content_for :meta_title, vacancy.seo_title %>
<% content_for :meta_description, vacancy.seo_description %>
<% content_for :sidebar do %>
  <div class="expiration-label text-muted font-italic">
    <% if vacancy.expired? %>
      <p><%= t('.expiration_notice.info', expire_at: l(vacancy.expire_at)) %></p>
      <hr class="shortline">
      <p class="mb-5"><%== t('.expiration_notice.advice') %></p>
    <% else %>
      <p><%== t('.expired_at', expired_at: l(vacancy.expire_at)) %></p>
      <hr class="shortline">
    <% end %>
  </div>
<% end %>
<% content_for :js do %>
  <script>
    (function () {
      var analytics = new Analytics({
        endpointURL: '<%= vacancy_events_url(vacancy) -%>'
      });

      analytics.addClickListeners();
    })()
  </script>
<% end %>

<div class="pt-3" itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="url" content="<%= vacancy_url(vacancy) %>" />
  <meta itemprop="employmentType" content="<%= t("vacancies.employment_types.#{vacancy.employment_type}") %>" />
  <% if vacancy.approved? %>
    <meta itemprop="datePosted" content="<%= vacancy.approved_at.iso8601 %>" />
    <meta itemprop="validThrough" content="<%= vacancy.expire_at.iso8601 %>" />
  <% end %>
  <% if vacancy.location.present? %>
    <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
      <meta itemprop="address" content="<%= vacancy.location %>" />
    </span>
  <% end %>
  <div>
    <h1 class="mb-5" itemprop="title"><%= vacancy.title %></h1>
    <div class="row">
      <div class="col-md-4">
        <dl>
          <dt><%= t('.company') %></dt>
          <dd><%= vacancy.company %></dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt><%= t('.employment_type') %></dt>
          <dd>
            <%= t("vacancies.employment_types.#{vacancy.employment_type}") %>
            <% if vacancy.remote_position %>
              + <%= t('.remote_position') %>
            <% end %>
          </dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt><%= t('.salary') %></dt>
          <dd><%== salary_with_units(vacancy) %></dd>
        </dl>
      </div>
    </div>
  </div>
  <hr class="shortline">
  <div class="mb-5" itemprop="description">
    <%== vacancy.description_html %>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <address itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
        <strong><%= t('.company') %></strong>
          <div itemprop="name"><%= vacancy.company %></div>
        <% if vacancy.location.present? %>
          <div><%= vacancy.location %></div>
        <% end %>
        <% if vacancy.url.present? %>
          <div itemprop="url">
            <%= link_to vacancy.url, vacancy.url, data: { toggle: 'analytics', event: 'vacancy:company_url:click' } %>
          </div>
        <% end %>
      </address>
    </div>
    <div class="col-md-6">
      <address>
        <strong><%= t('.contacts') %></strong>
        <div><%= vacancy.name ? vacancy.name : '&mdash;' %></div>
      </address>
    </div>
  </div>

  <% unless vacancy.expired? %>
    <div>
      <%= mail_to vacancy.email, t('.apply').html_safe, subject: t('.email_application.subject', title: vacancy.title),
                                                        body: t('.email_application.body', title: vacancy.title,
                                                                            url: vacancy_url(vacancy)),
                                                        class: "btn btn-success btn-lg btn-block",
                                                        data: {
                                                          toggle: 'analytics',
                                                          event: 'vacancy:company_email:click'
                                                        } %>
    </div>
  <% end %>

  <% if admin?(vacancy) %>
    <div class="form-actions">
      <%= button_to(t('.publish'), approve_vacancy_url(vacancy), method: :put, class: 'btn btn-success') unless vacancy.approved? %>
      <%= link_to t('.edit'), edit_vacancy_url(vacancy), class: 'btn btn-default' %>
      <%= button_to t('.destroy.button'), vacancy_url(vacancy), method: :delete, confirm: t('.destroy.confirmation'), class: 'btn btn-danger' %>
    </div>
  <% elsif owner?(vacancy) %>
    <div class="form-actions">
      <%= link_to t('.edit'), edit_vacancy_url(vacancy), class: "btn" %>
    </div>
  <% end %>
</div>
