<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
         any other head content must come *after* these tags -->
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : t('.meta_description') -%>" />
    <meta name="keywords" content="<%= t('.meta_keywords') -%>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rubyjobsru" />
    <meta name="twitter:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : t('.meta_title') -%>" />
    <meta name="twitter:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : t('.meta_description') -%>" />
    <meta name="twitter:image" content="<%= asset_url('rubyjobs-square-logo280x280.png') -%>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= current_url -%>" />
    <meta property="og:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : t('.meta_title') -%>" />
    <meta property="og:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : t('.meta_description') -%>" />
    <meta property="og:image" content="<%= asset_url('rubyjobs-square-logo280x280.png') -%>" />
    <title><%= content_for?(:meta_title) ? yield(:meta_title) : t('.meta_title') -%></title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag :rss,
                                'http://feeds.feedburner.com/rubyjobsru',
                                title: t('layouts.application.meta_title') %>
    <%= favicon_link_tag %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and
         media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <%= link_to_if !current_page?(root_url),
                           image_tag('rubyjobs-logo.png',
                                     width: 120,
                                     alt: t('.meta_title'),
                                     class: 'img-responsive'),
                           root_url %>
          </div>
          <%= yield(:sidebar) %>
          <div class="row text-muted text-small">
            <div class="col-md-4">
              <p>
                <a href="https://www.twitter.com/rubyjobsru"
                   class="btn btn-default btn-md btn-default">
                  <span class="glyphicon icon-social-twitter"></span>
                </a>
                <a href="http://feeds.feedburner.com/rubyjobsru"
                   class="btn btn-default btn-md btn-default">
                  <span class="glyphicon icon-feed"></span>
                </a>
              </p>
            </div>
            <div class="col-md-8">
              <p><%= t("layouts.application.subscriptions") %></p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>

      <% if current_page?(root_url) %>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <h1>Интересные события и проекты</h1>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="event-logo">
                <%= link_to image_tag('gohiring200x48.png', :size => '200x48'),
                            'http://www.gohiring.com/?utm_source=rubyjobs.ru' %>
              </div>
              <p>
                <strong>GoHiring Talent Marketing API</strong>&nbsp;&mdash; это мощный инструмент, который безпроблемно интегрируется с любой E-Recruiting системой.
              </p>
              <p><%= link_to 'http://www.gohiring.com', 'http://www.gohiring.com/?utm_source=rubyjobs.ru' %></p>
            </div>
            <div class="col-md-6">
              <div class="event-logo">
                <%= link_to image_tag("rubyflow135x80.png", :size => "135x80"),
                            "http://rubyflow.ru/?utm_source=rubyjobs.ru" %>
              </div>
              <p>Коллективный блог сообщества разработчиков.</p>
              <p>
                Более 1 400 статей на тему Ruby, Rails, Sinatra и других
                известных и не очень библиотек. Советы, обзоры и примеры кода.
              </p>
              <p>
                Формат коллективного блога позволяет каждому опубликовать
                статью. Без регистрации :)
              </p>
              <p><%= link_to 'http://rubyflow.ru', 'http://rubyflow.ru/?utm_source=rubyjobs.ru' %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="event-logo">
                <%= link_to image_tag('https://s3.eu-central-1.amazonaws.com/rubyflow-assets/company-mood.png', :height => 65, :width => 200),
                            'https://www.company-mood.com/?utm_source=rubyjobs.ru' %>
              </div>
              <p>
                CompanyMood - это онлайн-сервис, еженедельно измеряющий настроение сотрудников вашей компании.
              </p>
              <p>
                Он помогает вам принимать решения относительно HR-мероприятий, основываясь на информации полученной от самих сотрудников.
              </p>
              <p><%= link_to 'https://www.company-mood.com', 'https://www.company-mood.com/?utm_source=rubyjobs.ru' %></p>
            </div>
            <div class="col-md-6">
              <div class="event-logo">
                <%= link_to image_tag('https://s3.eu-central-1.amazonaws.com/rubyjobs-assets/rubyconf2016-519x519.png', :width => 'auto', :height => 65),
                            'http://rubyconference.by/?utm_source=rubyjobs.ru' %>
              </div>
              <p>
                <strong>Ruby Conference</strong> - крупная технологическая конференция, посвященная Ruby, Rails и сопутствующим технологиям. Лидеры из США, Японии, Восточной и Западной Европы соберутся для обсуждения технологических аспектов и особенностей разработки на Ruby.
              </p>
              <p>
                24 апреля 2016, Минск
              </p>
              <p><%= link_to 'http://rubyconference.by', 'http://rubyconference.by/?utm_source=rubyjobs.ru' %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <footer class="footer text-muted">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>
              &copy;&nbsp;2008&mdash;2017, <%= link_to 'Alexander Sulim', 'http://sul.im' %>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <%= link_to image_tag('digitalocean-badge.png', height: 40), 'http://www.digitalocean.com?utm_source=rubyjobs.ru' %>
            </p>
          </div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><%= link_to t(".pages.about"), page_url(:about) %></li>
              <li><%= link_to t(".pages.terms"), page_url(:terms) %></li>
              <li><%= link_to t(".pages.contacts"), page_url(:contacts) %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= yield(:js) %>
    <%= render 'layouts/google_analytics' if google_analytics_id %>
    <%= render 'layouts/intercom' if intercom_id %>
    <%= render 'layouts/whatshelp' if facebook_id %>
  </body>
</html>
