<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head;
      any other head content must come *after* these tags -->
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : t('.meta_description') -%>" />
    <meta name="keywords" content="<%= t('.meta_keywords') -%>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rubyjobsru" />
    <meta name="twitter:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : t('.meta_title') -%>" />
    <meta name="twitter:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : t('.meta_description') -%>" />
    <meta name="twitter:image" content="<%= asset_url('meta.png') -%>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= current_url -%>" />
    <meta property="og:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : t('.meta_title') -%>" />
    <meta property="og:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : t('.meta_description') -%>" />
    <meta property="og:image" content="<%= asset_url('meta.png') -%>" />
    <title><%= content_for?(:meta_title) ? yield(:meta_title) : t('.meta_title') -%></title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag :rss, 'http://feeds.feedburner.com/rubyjobsru',
                                      title: t('layouts.application.meta_title') %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div class="container mb-5">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4">
          <div class="logo mb-5 mt-3">
            <%= link_to_if !current_page?(root_url),
              image_tag('rubyjobs-logo.svg',
                        width: 150,
                        alt: t('.meta_title'),
                        class: 'img-responsive'),
                        root_url %>
          </div>
          <%= yield(:sidebar) %>
        </div>
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
    <% if current_page?(root_url) %>
      <div class="bg-accent-color py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2><%= t("layouts.application.subscriptions") %></h2>
          </div>
          <div class="col-md-8">
            <div class="row pt-3">
              <div class="col-md-8">
                <form action="//rubyjobs.us4.list-manage.com/subscribe/post?u=8645363f0bc78d2009f9eb789&amp;id=a1114fcbf0" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                  <div class="input-group">
                    <input type="email" value="" name="EMAIL" class="form-control form-control-lg" placeholder="<%= t('layouts.application.newsletter') %>">
                    <div class="input-group-append">
                      <button type="submit" value="Subscribe" name="subscribe" class="btn btn-light">
                        <span class="glyphicon icon-envelope-letter"></span>
                      </button>
                    </div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8645363f0bc78d2009f9eb789_a1114fcbf0" tabindex="-1" value=""></div>
                </form>
              </div>
              <div class="col-md-4">
                <p>
                <a href="https://www.twitter.com/rubyjobsru" class="btn btn-default btn-md text-dark">
                  <span class="glyphicon icon-social-twitter"></span> Twitter
                </a>
                <a href="http://feeds.feedburner.com/rubyjobsru" class="btn btn-default btn-md text-dark">
                  <span class="glyphicon icon-feed"></span> RSS
                </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="bg-white py-5">
        <div class="container">
          <div class="row">
            <% t('.facts').each do |fact| %>
            <div class="col-md-3">
              <h3 class="display-1"><%= fact[:title] %></h3>
              <p class="lead">
                <%= fact[:description] %>
              </p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2><%= t("layouts.application.sponsors.title") %></h2>
              <p class="text-muted">
                <%= t("layouts.application.sponsors.description") %>
              </p>
            </div>
            <div class="col-md-8">
              <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <a class="w-100" href="https://www.digitalocean.com?utm_source=rubyjobs.ru" title="DigitalOcean">
                    <%= image_tag('digitalocean-badge.svg') %>
                  </a>
                </div>
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <a class="w-100" href="https://lingohub.com/?utm_source=rubyjobs.ru" title="LingoHub">
                    <%= image_tag('lingohub570x200.png', class: 'img-fluid') %>
                  </a>
                </div>
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <p class="m-0 small text-muted">
                    <%= t("layouts.application.sponsors.empty") %>
                  </p>
                </div>
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <p class="m-0 small text-muted">
                    <%= t("layouts.application.sponsors.empty") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2><%= t("layouts.application.partners.title") %></h2>
              <p class="text-muted">
                <%= t("layouts.application.partners.description") %>
              </p>
            </div>
            <div class="col-md-8">
              <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <a class="w-100" href="http://www.rubyflow.ru?utm_source=rubyjobs.ru" title="rubyflow.ru">
                    <%= image_tag('rubyflow-logo.svg') %>
                  </a>
                </div>
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <p class="m-0 small text-muted">
                    <%= t("layouts.application.partners.empty") %>
                  </p>
                </div>
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <p class="m-0 small text-muted">
                    <%= t("layouts.application.partners.empty") %>
                  </p>
                </div>
                <div class="w-100 w-23-l mb-4 px-3 py-4 border rounded align-self-stretch d-flex align-items-center justify-content-center">
                  <p class="m-0 small text-muted">
                    <%= t("layouts.application.partners.empty") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <footer class="footer bg-dark text-white">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-4 pb-3">
            <%= image_tag('icon-white.svg', width: 32,
                                               alt: t('.meta_title'),
                                               class: 'img-responsive mr-3') %>
            <small class="text-white">
              &copy;&nbsp;2008&mdash;2018, <%= link_to 'Alexander Sulim', 'https://sul.im/', class: 'text-white' %>
            </small>
          </div>
          <div class="col-md-8">
            <ul class="list-inline">
              <li class="list-inline-item"><%= link_to t(".pages.about"), page_url(:about), class: 'text-white' %></li>
              <li class="list-inline-item"><%= link_to t(".pages.terms"), page_url(:terms), class: 'text-white' %></li>
              <li class="list-inline-item"><%= link_to t(".pages.contacts"), page_url(:contacts), class: 'text-white' %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= yield(:js) %>
    <%= render 'layouts/google_analytics' if google_analytics_id %>
    <%= render 'layouts/intercom' if intercom_id %>
  </body>
</html>
